export(crossval)
export(plot.pathClassResult)
export(extractFeatures)
export(fit.graph.svm)
export(predict.graphSVM)
export(calc.diffusionKernel)
export(fit.networkBasedSVM)
export(predict.networkBasedSVM)
export(as.adjacencyList)
export(read.hprd)
export(matchMatrices)
export(fit.rfe)
export(predict.rfe)
export(fit.rrfe)
export(predict.rrfe)
export(getGeneRanks)
